= simple_form_for(@batch) do |f|
	#items
		= f.simple_fields_for :items do |item|
			= render 'item_fields', f: item
		.links
			= link_to_add_association 'add item', f, :items, class: "new-item-btn hidden"
	= f.submit "Next", class: "btn btn-success btn-lg"
:coffee
	$('.new-item-btn').click()
	$('.new-item-btn').click()